# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
bin/
out/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
cmake-build-*/

# Visual Studio / Windows
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.pdb

# Visual Studio Code
.vscode/
